// fonts
$font-stack: 'Arial', sans-serif;
$extra-small-font-size: 10px;
$small-font-size: 13px;
$normal-font-size: 14px;
$header-font-size: 17px;
$section-title-font-size: 40px;
$section-info-font-size: 24px;
$section-counter-font-size: 18px;
$course-title-font-size: 18px;
$course-completion-font-size: 13px;


$title-1-font-size: 30px;
$title-2-font-size: 24px;
$title-3-font-size: 17px;
$title-4-font-size: 40px;
$title-5-font-size: 18px;
$title-6-font-size: 17px;
$title-7-font-size: 14px;
$title-8-font-size: xx-large;
$title-9-font-size: 12px;
$title-10-font-size: 20px;
$title-11-font-size: 15px;

$border-color: #808080;
$header-color: #0ff;
$chat: #faebd7;
$selected-text: #008000;
